.main {
    display: block;
    width: 500px;
    height: 650px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.list-group-item {
    display: flex;
    text-align: start;
}

li img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

li span {
    margin-left: 10px;
    font-size: 20px;
}